@font-face {
  font-family: "Roboto";
  src: url("src\assets\fonts\Roboto-Regular.ttf");
}

html {
box-sizing: border-box;
}


*, *:before, *:after {
box-sizing: inherit;
}

img {
height: 100%;
width: 100%;
display: block;
}

figure {
margin: 0;
}

.horizontalContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.verticalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

header p, header button {
margin-left: 2%;
margin-right: 2%;
}

h1{
font-family: Roboto;
color: black;
font-size: 18px;
}

.farm-container {
  width: 92%;
  height: 95%;
  margin: 0px;
  display: fixed;
  position: fixed;
  z-index: -5;
  background-color: rgb(205,162,111);
  padding-top: 8vh;
  padding-left: 15vh;
}

.farm-background {
  width: 100vw;
  height: 100vh;
  background-color: rgb(205,162,111);
  position: absolute;
  z-index: -5;
}

.row {
  display: flex;
}

.column {
  width: 10%;
}

.plant-container {
  background-color: #8634eb;
}

.plants-overview{
  padding-top: 9vh;
  width: 85vw;
  margin: auto;
  display: fixed;
}

.plot:hover+.waterAmount, .waterAmount:hover{
display: block;
text-align: center;
margin-top: -4%;
margin-left: 2%;
}

.waterAmount:hover + .plot {
opacity: 80%;
}

.plot:hover {
opacity: 80%;
}

.plotBackground {
height: 100%;
width: 100%;
background-color: whitesmoke;
z-index: 9998 !important;
}

.popUp{
position: absolute;
z-index: 9999 !important;
background-color: rgb(104,160,202);
border: 5px solid whitesmoke;
border-radius: 20px;
text-align: center;
padding-right: 3vw;
padding-left: 3vw;
padding-top: 1vh;
padding-bottom: 2vh;
}

.popUpTop{
display: flex;
flex-direction: row;
justify-content:space-between;
}

.popUpBtn{
display: flex;
flex-direction: row-reverse;
justify-content:center;
}

.PopupBG{
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(100,100,100,0.5);
position: absolute;
}

.popUp h1{
color: whitesmoke;
font-size: 5vh;
}

.popUpTop img {
height: 3vh;
width: 3vh;
padding: 0;
margin: 0;
align-self: flex-end;
margin-bottom: 4vh;
margin-top: -1vh;
margin-right: -2vw;
}

.popUpTextHelper {
height: 3vh;
width: 3vh;
padding: 0;
margin: 0;
margin-bottom: 4vh;
margin-top: -1vh;
margin-left: -2vw;
}

.popUpTop h1 {
margin: 0;
padding: 0;
align-self: center;

}

.popUpBtn img {
height: 8vh;
width: auto;
margin-left: 1vw;
margin-right: 1vw;
}

.popUp h1{
margin-top: 1vh;
color: whitesmoke;
font-size: 5vh;
}

.waterAmount{
position: absolute;
color: whitesmoke;
-webkit-text-fill-color: white; /* Will override color (regardless of order) */
-webkit-text-stroke-width: 1px;
font-size: 3vh;
font-family: Roboto;
font-weight: lighter;
-webkit-text-stroke-color: black;
display: none;
}

.shopicon{
height: 15vh;
width: auto;
}

.Shops{
position: absolute;
margin-top: 70vh;
display: flex;
flex-direction: column;
}

.Shop{
display: flex;
flex-direction: row;
}

.shopfoldout{
display: flex;
flex-direction: row;
border-radius: 20px 20px;
border: 3px solid whitesmoke;
background-color: rgb(230,222,213);
}

.item-container img {
height: 12vh;
width: auto;
}

.item-container h1{
color: grey;
font-family: Roboto;
font-weight: bold;
font-size: 2vh;
margin: 0;
padding: 0;
margin-left: 25%;
}

.item-container {
height: 14vh;
width: auto;
}

header {
  width:100vw;
  position: absolute;
}

#logoutButton {
  width: 50%;
  background-color: rgb(152,188,90) !important;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 30px !important;
  width: 15vh !important;
  height: 4vh !important;
  margin: 0.4vh !important;
  font-size: 2vh;
  font-family: Roboto;
  border-style: solid;
  border-color: white;
  margin-right: 5vh !important;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-left: 5vh;
}

.headerContainer>p {
  background-color: rgb(225,217,206);
  padding-left: 7vh;
  border-color: white;
  border-style: solid;
  border-radius: 5vh;
  border-width: 0.2vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  min-width: 13vh;
  font-family: Roboto;
  font-size: 2vh;
  text-align: left;
  height: 2.5vh;
}

.headerContainer>img {
  position: absolute;
  height: 7vh;
  width: 7vh;
  z-index: 5;
}

.linesContainer {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 15vh;
  height: 4.5vh;
  padding: 0px;
  margin: 0px;
  z-index: 5;
}

.line {
  height:100%;
  width:100%;
  border-right-style: solid;
  border-color: whitesmoke;
  margin: 0px;
  padding: 0px;
  border-width: 0.2vh;
}

.waterLevel {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 0vh;
  height: 4.4vh;
  padding: 0px;
  margin: 0px;
  background: linear-gradient(rgb(143,195,232) 70%, rgb(133, 179, 225) 70%);
  border-top-left-radius: 5vh;
  border-bottom-left-radius: 5vh;
  margin-left: 0.7vh;
  transition: 1s;
}

.WaterBar {
  position: absolute;
  background-color: rgb(225,217,206);
  padding-left: 7vh;
  border-color: white;
  border-style: solid;
  border-radius: 5vh;
  border-width: 0.2vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-family: Roboto;
  font-size: 2vh;
  text-align: left;
  width: 0.05vw !important;
  height: 0.5vh;
  z-index: 0;
  margin-top: -10vh;
  margin-left: 1.3vw;
}

.waterContainer {
  display: none;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 100%;
}

.water {
  position: absolute;
  background: linear-gradient(rgb(143,195,232) 70%, rgb(133, 179, 225) 70%);
  margin-top: -10vh !important;
  width: 0vh;
  height: 2.5vh;
  z-index: 11 !important;
  margin: 0px;
  border-top-left-radius: 5vh;
  border-bottom-left-radius: 5vh;
  margin-left: 1.4vw !important;
  transition: 1s;
}

.plotHover {
  width: 100%;
  height: 100%;
  background-color: rgb(255,255,255);
  opacity: 50%;
}

.showWater {
  display: flex;
}