<header>
  <div class="horizontalContainer" style="justify-content: space-between;">
    <div class="horizontalContainer" style="justify-content: left;">
      <div class = "headerContainer">
        <img src="../../../assets/ui/farmHeader/Interface_Currency.png" alt="Money">
        <p>{{inventory.money*0.01}}</p>
      </div>
      <div class = "headerContainer">
        <div class="linesContainer">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <img src="../../../assets/ui/farmHeader/Interface_Water.png" alt="Money">
        <div class="waterLevel"></div>
        <p></p>
      </div>
    </div>
    <button id="logoutButton" type="button" (click)="logout()" name="button">LOG OUT</button>
  </div>
</header>

<!-- Purchase plot model -->
<div class="PopupBG" *ngIf="purchasePlot">
  <div class="popUp">
    <div class="popUpTop">
      <h1>Buy plot</h1>
      <img src="../../../assets/ui/popup/exit.png" alt="Exit" (click)="closePlotModal()">
    </div>
    <h1>Price: {{price * 0.01| currency : "R"}}</h1>
    <div class="popUpBtn">
      <img src="../../../assets/ui/popup/cancel.png" alt="Cancel" (click)="closePlotModal()">
      <img src="../../../assets/ui/popup/confirm.png" alt="Confirm" (click)="callPurchasePlot(plotId)">
    </div>
  </div>
</div>

<!-- HarvestplantModel -->
<div class="PopupBG" *ngIf="harvestModal">
  <div class="popUp">
    <div class="popUpTop">
      <div class="popUpTextHelper"></div>
      <h1>Harvest?</h1>
      <img src="../../../assets/ui/popup/exit.png" alt="Exit" (click)="closeHarvestModal()">
    </div>
    <div class="popUpBtn">
      <img src="../../../assets/ui/popup/cancel.png" alt="Cancel" (click)="closeHarvestModal()">
      <img src="../../../assets/ui/popup/confirm.png" alt="Confirm" (click)="harvestPlantFromPlot(activeplot, activePlantId)">
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="plants-overview" *ngIf="plants">
      <div class="plant" *ngFor="let plant of plants.plants">
        <div (click)="placePlantOnPlot(plotId, plant)" class="plant-container">
          <img src="../../../assets/ui/plant/{{plant.ID}}.png" width="100%" height="100%" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="farm-background"></div>
    <div class="farm-container">
      <div class="row" *ngFor="let plotsX of plots">
        <div class="column" *ngFor="let plot of plotsX">
          <div class="plotBackground">
            <img src="{{plot.image}}" class="plot" alt="" (click)="handlePlotClick(plot)">
            <span class="waterAmount" (click)="handlePlotClick(plot)">{{plot.getWater()}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
