@font-face {
    font-family: "Roboto";
    src: url("src\assets\fonts\Roboto-Regular.ttf");
}

html {
  box-sizing: border-box;
}


*, *:before, *:after, {
  box-sizing: inherit;
}

img {
  height: 100%;
  width: 100%;
  display: block;
}

figure {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid black 1px;
  height: 9vh;
  width: 100%;
  position: fixed;
}

header p, header button {
  margin-left: 2%;
  margin-right: 2%;
}

h1{
  font-family: Roboto;
  color: black;
  font-size: 18px;
}

.farm-container {
  padding-top: 9vh;
  width: 85vw;
  margin: auto;
  display: fixed;
}

.row {
  display: flex;
}

.column {
    width: 10%;
}

.plant-container {
  background-color: #8634eb;
}

.plants-overview{
  padding-top: 9vh;
}

.plot:hover+.waterAmount{
  display: block;
  text-align: center;
  margin-top: -4%;
  margin-left: 2%;
}

.plot:hover {
  opacity: 80%;
}

.plotBackground {
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
}

.popUp{
  width: 40vh;
  height: 25vh;
  position: absolute;
  z-index: 9 !important;
  background-color: whitesmoke;
  text-align: center;
}

.PopupBG{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(100,100,100,0.5);
  position: absolute;
}

.waterAmount{
  position: absolute;
  color: whitesmoke;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  font-size: 3vh;
  font-family: Roboto;
  font-weight: lighter;
  -webkit-text-stroke-color: black;
  display: none;
}
