<header>
  <p>Money: {{inventory.money * 0.01| currency : "€"}}</p>
  <p>Water: {{inventory.water * 0.01}} litre</p>
  <button type="button" (click)="logout()" name="button">logout</button>
</header>
<div class="row">
  <div class="column">
    <div class="plants-overview" *ngIf="plants">
      <div class="plant" *ngFor="let plant of plants.plants">
        <div (click)="placePlantOnPlot(plotId, plant)" class="plant-container">
          <img src="../../../assets/ui/plant/{{plant.ID}}.png" width="100%" height="100%" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="farm-container">
      <div class="row" *ngFor="let plotsX of plots">
        <div class="column" *ngFor="let plot of plotsX">
          <img src="{{plot.image}}" alt="" (click)="getAllPlants(plot.ID,plot.plantID,plot.purchased)">
        </div>
      </div>
    </div>
  </div>
</div>
