html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  height: 100%;
  width: 100%;
  display: block;
}

figure {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: brown;
}

.farm-container {
  height: 90vh;
  width: 90vh;
  margin: auto;
  display: fixed;
}

.row {
  display: flex;
}

.column {
    width: 10%;
}

.plant-container {
  background-color: #8634eb;
}
