<header>
  <p>Money: {{inventory.money*0.01 | currency : "€"}}</p>
  <p>Water: {{inventory.water}} L</p>
  <button type="button" (click)="logout()" name="button">logout</button>
</header>
<div class="PopupBG" *ngIf="purchasePlot">
  <div class="popUp">
    <h2>Do you want to buy this plot?</h2>
    <p>The price is {{price * 0.01| currency : "€"}}</p>
    <button type="submit" (click)="callPurchasePlot(plotId)" class="modalButton">Confirm</button>
    <button type="submit" (click)="closePlotModal()" class="modalButton">Cancel</button>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="plants-overview" *ngIf="plants">
      <div class="plant" *ngFor="let plant of plants.plants">
        <div (click)="placePlantOnPlot(plotId, plant)" class="plant-container">
          <img src="../../../assets/ui/plant/{{plant.ID}}.png" width="100%" height="100%" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="farm-container">
      <div class="row" *ngFor="let plotsX of plots">
        <div class="column" *ngFor="let plot of plotsX">
          <div class="plotBackground">
            <img src="{{plot.image}}" class="plot" alt="" (click)="handlePlotClick(plot)">
            <span class="waterAmount">{{plot.getWater()}} L</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
