<!-- Delete user pop-up -->
<div class="PopupBG" *ngIf="popUpIsActive">
<div class="popUp">
  <div class="popUpTop">
    <h1>Delete {{currentSelectedUser.name}}?</h1>
    <img src="../../../assets/ui/popup/exit.png" alt="Exit" (click)="closeDeletePopUp()">
  </div>
  <div class="popUpBtn">
    <img src="../../../assets/ui/popup/cancel.png" alt="Cancel" (click)="closeDeletePopUp()">
    <img src="../../../assets/ui/popup/confirm.png" alt="Confirm" (click)="deleteUser(currentSelectedUser.ID)">
  </div>
</div>
</div>
<header>
  <!-- <div class="headerItem">Home</div>
  <div class="verticalLine"></div> -->
  <div class="headerItem">Accounts</div>
  <div class="verticalLine"></div>
  <div class="headerItem">Plants</div>
  <div class="verticalLine"></div>
  <div class="headerItem">Animals</div>
  <div class="headerItem"></div><div class="headerItem"></div>
  <div class="headerItem"></div><div class="headerItem"></div>
  <div class="headerItem" (click)="logout()">Logout</div>
</header>

<body>

<!-- <h1>Accounts</h1> -->
<table class="container">
  <tr class="row" *ngFor="let user of users">
    <td class="userID">{{user.ID}}</td>
    <td class="userName">
      <span>{{user.name}}</span>
    </td>
    <td class="userEmail">
      <span>{{user.email}}</span>
    </td>
    <td class="deleteButton"><img src="../../../assets/ui/admin/delete-button.png" (click)="showDeletePopUp(user)"/></td>
  </tr>
</table>
</body>
