<header>
  <!-- <div class="headerItem">Home</div>
  <div class="verticalLine"></div> -->
  <div class="headerItem">Accounts</div>
  <div class="verticalLine"></div>
  <div class="headerItem">Plants</div>
  <div class="verticalLine"></div>
  <div class="headerItem">Animals</div>
  <div class="headerItem"></div><div class="headerItem"></div>
  <div class="headerItem"></div><div class="headerItem"></div>
  <div class="headerItem" (click)="logout()">Logout</div>
</header>

<body>
<div class="popUpBG" *ngIf="popUpIsActive">
  <div class="deletePopUp">
      <h2>Are you sure you want to delete <span class="popUpName">{{currentSelectedUser.name}}</span>?</h2>
      <button type="submit" (click)="deleteUser(currentSelectedUser.ID)">Confirm</button>
      <button type="submit" (click)="closeDeletePopUp()">Cancel</button>
  </div>
</div>
<!-- <h1>Accounts</h1> -->
<table class="container">
  <tr class="row" *ngFor="let user of users">
    <td class="userID">{{user.ID}}</td>
    <td class="userName">
      <span>{{user.name}}</span>
    </td>
    <td class="userEmail">
      <span>{{user.email}}</span>
    </td>
    <td class="deleteButton"><img src="../../../assets/ui/admin/delete-button.png" (click)="showDeletePopUp(user)"/></td>
  </tr>
</table>
</body>