<h1>Register</h1>
<form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
  <div class="container">
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Enter Name" formControlName="name" required>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" formControlName="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" formControlName="password" required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" formControlName="repeatPassword" required>
    <hr>

    <button type="submit" class="registerbtn">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a routerLink="/login">Sign in</a>.</p>
  </div>
</form>
