@font-face {
    font-family: "Roboto";
    src: url("src\assets\fonts\Roboto-Regular.ttf");
}

#menuContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loginBox {
    background-color: rgb(153,185,95);
    border-radius: 6%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width:50vh;
    height:40vh;
    padding-top: 6vh;
    padding-top: 6vh;
}

#logo {
    background-color: rgb(103,159,214);
    width:30vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 3vh !important;
    border-radius: 30px;
    color: whitesmoke;
}

#pictureLayout {
    display: flex;
}

#background {
    position: absolute;
    width:100vw;
    height:100vh;
    z-index: -10;
    margin: 0px;
    padding: 0px;
}

img {
    width:40vh;
    height: 40vh;
}

.menuPart {
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 5px;
    font-size: 2.5vh;
    font-family: Roboto;
    background-color: whitesmoke;
    box-shadow: inset 0px 0px 0px 0px red;
    border: none;
    width: 30vh;
    height: 7vh;
    border-radius: 20px;
    padding-left: 15px;
}

::placeholder {
    color: black;
  }

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

button {
    width: 50%;
    background-color: rgb(128,141,90) !important;
    color: whitesmoke;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 30px !important;
    width: 25vh !important;
    height: 6vh !important;
}

p {
    font-family: Roboto;
    font-size: 2vh;
}