<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
    <div>
        <label for="email">Email</label>
        <input id="email" type="text" formControlName="email">
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password">
    </div>
    <button class="button" type="submit">Login</button>
</form>
<button (click)="setToken()">{{token}}</button>

<a routerLink="/farm">Go to your farm!</a>

<div class="container logout">
  <p>Wilt u uitloggen? <a routerLink="/logout">Klik hier</a>.</p>
</div>
